# AUTHENTICATION
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_EMAIL_ENABLED=true
AUTH_MAGIC_LINK_ENABLED=false

# DATABASE
DB_CONNECTION=postgres # options: postgres, mysql, sqlite, mongodb
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=endeavor
DB_USERNAME=postgres
DB_PASSWORD=secret
MONGODB_URI=

# Prisma/NextAuth
DATABASE_URL=postgresql://postgres:secret@localhost:5432/endeavor

# MAIL PROVIDERS
MAIL_PROVIDER=mailtrap # mailgun, resend, mailtrap

# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM=

# Resend
RESEND_API_KEY=
RESEND_FROM=

# Mailtrap - best for testing
MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=
MAILTRAP_PASS=
MAILTRAP_FROM=