# Authentication
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_EMAIL_ENABLED=true
AUTH_MAGIC_LINK_ENABLED=false

# Database
DB_CONNECTION=postgres # options: postgres, mysql, sqlite, mongodb
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=endeavor
DB_USERNAME=postgres
DB_PASSWORD=secret
MONGODB_URI=

# Prisma/NextAuth
DATABASE_URL=postgresql://postgres:secret@localhost:5432/endeavor
